@page "/"

<PageTitle>Caliqon - Home</PageTitle>

<div class="w-100 bg-black bg-opacity-50 py-2">
    <div class="container d-flex flex-column justify-content-evenly py-5">
        <h1 class="text-center font-monospace">Caliqon Recruitment</h1>
        <Field Width="Width.Is100">
            <FieldLabel>Search</FieldLabel>
            <div class="d-flex flex-row align-content-center justify-content-between gap-4">
                <TextEdit Placeholder="E.G. .NET Developer, Senior Software Engineer, QA Engineer" Class="mr-1"/>
                <Button Color="Color.Primary" Size="Size.ExtraSmall" Width="Width.Is25">
                    Search
                </Button>
            </div>
        </Field>
    </div>
</div>